
/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
font-family: inherit;
font-size: 100%;
border: none;
border-radius: 0;
display: block;
width: 100%;
padding: 0;
margin: 0;
-webkit-appearance: none;
-moz-appearance: none;
}
form label,
form legend {
font-size: 0.825rem;
margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
box-sizing: border-box;
border: 1px solid rgb(247, 118, 118);
background-color: rgb(255, 255, 255);
padding: 0.75em 1rem;
margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
background-color: rgb(255, 255, 255);
outline-style: solid;
outline-width: thin;
outline-color: gray;
outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
width: auto;
cursor: pointer;
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
outline: none;
}

form select {
text-transform: none;
}


// Override this file to add your own SCSS styling.
#contact {

  // margin: 1.5rem 0;

  label {
    display: block;
    line-height: 1.8rem;
  }

  input[name=name],
  input[name=_replyto],
  input[name=_subject],
  select,
  textarea {
    display: block;
    color: darkslategray;
    margin: 3px 0;
    max-width: 100%;
  }
  
  input[name=name],
  input[name=_replyto],
  input[name=_subject] {
    min-width: 240px;
    padding: 6px 12px;
  }
  
  select {
    min-width: 210px;
    padding: 6px;
  }
  
  textarea {
    padding: 9px 15px;

    height: auto;
  }

  input[type=submit] {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    
    margin-top: 1.2rem;
    padding: 12px 42px 15px;
    
    outline-offset: 2px;

    color: #dd5656;

    // HACK
    // Override Firefox unnecessary extra inner outline
    &::-moz-focus-inner {
      border: 0;
    }
  }
}

#talk_list > div > h3 {
margin-top: 0rem;
}

.hero-lead > a {
text-decoration: none;
}



html.abbb {
padding: 3em 0 3em 0;
color: dimgray;
}

.abbb.wg-blank {
align-items: center;
justify-content: center;
}

.abbb.wg-blank .content {
text-align: center;
}

.abbb > .content {
width: 45em;
max-width: calc(100% - 4em);
margin: 0 auto;
}

.abbb > .content > :last-child {
margin-bottom: 0;
}

.abbb header {
margin-bottom: 1em;
}

.abbb .wg-blank h2 {
font-size: 2.25em;
line-height: 1.25em;
letter-spacing: -0.05em;
}

// @media only screen and (min-width: 1001px){
//   .abbb .container {
//     width: 1000px;  
//   }
// }

@media (min-width: 1200px) {
.abbb .container {
  max-width: 1000px;
}
}
@media (min-width: 992px){
.abbb .container {
  max-width: 880px;
}
}

/* Hide overflowing of zoomed child img element */
.img-hover-zoom {
overflow: hidden;
}

/* Smooth transition for image zoom on hover */
.img-hover-zoom img {
transition: transform 0.3s ease-in-out;
}

/* Transform the image scale when container gets hovered */
.img-hover-zoom:hover img {
transform: scale(1.1);
}

#slider > div > div.wg-hero.dark.carousel-item > div {
    margin: 8% auto 0 auto;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-400;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: $primary;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
  
    0%,
    70%,
    100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    }
  
    35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
  
    0%,
    70%,
    100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    }
  
    35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
  }

.abbb {
  min-height: 200px !important;
}

section#featured.home-section {
  padding: 50px 0px 50px 0px;
}


// [role^="doc-"] {
//   text-decoration: none; /* 2 */
//   color: inherit; /* 2 */
//   cursor: default; /* 2 */
//   outline: none; /* 2 */
// }

// [role="doc-noteref"]::after {
//   content: '[' counter(footnotes) ']'; /* 1 */
//   vertical-align: super; /* 2 */
//   font-size: 0.5em; /* 3 */
//   margin-left: 2px; /* 4 */
//   color: blue; /* 5 */
//   text-decoration: underline; /* 5 */
//   cursor: pointer; /* 5 */
// }

// [role="doc-noteref"]:focus::after {
//   outline: thin dotted;
//   outline-offset: 2px;
// }
section#fn {
  font-size: 0.8rem;
}

//footnote link
[href="#fn"],
// Back to footnote link
[href="#fnref"] {
  text-decoration: none;
  color: $orange;
  font-family: monospace;
}
a[href="#fn"]:before{ content: '[' }
a[href="#fn"]:after{ content: ']' }


.playlist--list {
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-left: none;
  height: 340px;
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: .95;
  color: #565D64;
  display: inline-block;
  float: none;
  margin: 0;
  width: calc(100% - 343px);
}
@media (max-width: 600px) {
  .playlist--list {
    display: block;
    width: 340px;
    float: none;
    border: 1px solid #ccc;
    border-top: 0;
  }
}
.playlist--list li {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #222;
  padding: 0;
  cursor: pointer;
  padding: 20px 10px;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
}
.playlist--list li:last-child {
  border-bottom: 0;
}
.playlist--list li:hover {
  background-color: #3498db;
  color: #ffffff;
}
.playlist--list li.active {
  background-color: #CCDADE;
  color: #565D64;
}
.playlist--list li span {
  pointer-events: none;
}
.playlist--list li .artist {
  display: block;
  font-weight: normal;
  margin-top: 5px;
  color: #666;
  font-size: 18px;
}
