{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ $link_authors := $.Params.link_authors }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $name := $profile_page.Params.name | default ($value|markdownify) -}}
    {{- if ne $name "admin" -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span>
      {{- if and $profile_page $link_authors -}}
        <a href="{{$profile_page.RelPermalink}}">{{$name}}</a>
      {{- end -}}
    </span>
    {{- end -}}
  {{- end -}}
{{- end -}}
