<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/p/1602710451626442135/f/contact" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Ваше имя</label>
    <input type="text" name="name" id="full-name" placeholder="ФИО" required="">
    <label for="email-address">Почта для обратной связи</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
    <label for="message">Ваше сообщение</label>
    <textarea rows="5" name="message" id="message" placeholder="Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla nullam quis risus." required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
  </fieldset>
  <input type="submit" value="Отправить" background="#fff">
</form>