{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">

  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $query := where site.RegularPages "Type" "блог" }}


  {{ if .Params.exclude_personal }}
  {{ $pers := where $query "Params.personal" "!=" true }}
  {{ $query = $query | intersect $pers }}
  {{ else }}
  {{ $pers := where $query "Params.personal" "=" true }}
  {{ $query = $query | intersect $pers }}
  {{ end }}


  {{ $paginator := .Paginate $query }}
  {{ range $paginator.Pages }}
  {{ if eq $.Params.design.view 1 }}
  {{ partial "li_list" . }}
  {{ else if eq $.Params.design.view 3 }}
  {{ partial "li_card" . }}
  {{ else }}
  {{ partial "li_compact" . }}
  {{ end }}
  {{ end }}

  {{ partial "pagination" . }}

</div>

{{- end -}}
